<div class="row">
	<p class="alert alert-info" ng-if="homePage.allProjects.length < 1">There is no projects yet. You can be the first :)</p>
	<div class="col-md-12" ng-repeat="project in homePage.allProjects">
		<div class="panel panel-default">
			<div class="panel-heading">{{project.projectname}}</div>
			<div class="panel-body img-width-cst" >
				<div class="col-sm-12 col-md-3" style="text-align:center">
					<img ng-if="!project.images.length" ng-src="../uploads/images/no.jpg" alt="Image">
					<img ng-if="project.images.length" ng-src="../uploads/images/{{project.images[0].filename}}" alt="Image">
				</div>
				<div class="col-sm-12 col-md-9">
					<p>{{project.description}} <a href="javascript:void(0)" class="alert-link" ng-click="homePage.getFullInfo(project)">read more...</a></p>
				</div>
			</div>
			<div class="panel-footer">Technologies: {{project.technologies}} </div>
		</div>
	</div>
</div>