<div class="row">
	<div class="col-md-12">
		<uib-accordion close-others="oneAtATime">
			<uib-accordion-group heading="Filters Panel">
				<div class="form-group col-md-6">
					<label>Search:</label>
					<input class="form-control" ng-model="homePage.searchigData">
				</div>
				<div class="form-group col-md-6">
					<label>Sort by:</label>
					<select class="form-control">
						<option>---</option>
						<option>Name</option>
						<option>Technologies</option>
						<option>Tools</option> 
					</select>
				</div> 
			</uib-accordion-group>
		</uib-accordion>
	</div>

	<p class="alert alert-info" ng-if="homePage.allProjects.length < 1">There is no projects yet. You can be the first :)</p>
	<div class="col-md-12" ng-repeat="project in homePage.allProjects | filter:homePage.searchigData | pagination: (homePage.currentPage - 1) * homePage.itemPerPage | limitTo: homePage.itemPerPage">
		<div class="panel panel-default">
			<div class="panel-heading">{{project.projectname}}</div>
			<div class="panel-body img-width-cst">
				<div class="col-sm-12 col-md-3" style="text-align:center">
					<img ng-if="!project.images.length" ng-src="../uploads/images/no.jpg" alt="Image">
					<img ng-if="project.images.length" ng-src="../uploads/images/{{project.images[0].filename}}" alt="Image">
				</div>
				<div class="col-sm-12 col-md-9">
					<p>{{project.description}} <a href="javascript:void(0)" class="alert-link" ng-click="homePage.getFullInfo(project)">read more...</a></p>
				</div>
			</div>
			<div class="panel-footer">Technologies: {{project.technologies}} </div>
		</div>
	</div>
	<div ng-show="homePage.allProjects.length > 5" style="text-align: center;" class="pagination-wrapper">
		<uib-pagination total-items="homePage.totalItems" items-per-page="homePage.itemPerPage" ng-model="homePage.currentPage" class="pagination-sm"></uib-pagination>
	</div>
</div>