<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Project description
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="col-sm-12 col-md-4 img-width-cst">
					<div class="panel panel-default ">
						<div class="panel-heading">Project images</div>
						<div class="panel-body">
							<img ng-if="!projectDescription.images.length" ng-src="../uploads/images/no.jpg" alt="Image">

							<!--slider-->
							<div ng-if="projectDescription.images.length">
								<uib-carousel no-wrap="projectDescription.slider.noWrapSlides">
									<uib-slide ng-repeat="slide in projectDescription.images" active="slide.active">
										<img ng-src="../uploads/images/{{slide.filename}}" style="margin:auto;">
									</uib-slide>
								</uib-carousel>
							</div>
							<!--end slider-->
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">Project information</div>
						<div class="panel-body">
							<ul class="list-unstyled">
								<li ng-if="projectDescription.projectname">
									<h3>
										<small>Project Name:</small>
									</h3>
									<p>{{projectDescription.projectname}}</p>

								</li>
								<li ng-if="projectDescription.projecturl">
									<h3>
										<small>Project URL:</small>
									</h3>
									<p>{{projectDescription.projecturl}}</p>
								</li>
								<li ng-if="projectDescription.description">
									<h3>
										<small>Project Description:</small>
									</h3>
									<p>{{projectDescription.description}}</p>
								</li>
								<li ng-if="projectDescription.technologies">
									<h3>
										<small>Project Technologies:</small>
									</h3>
									<p>{{projectDescription.technologies}}</p>
								</li>
								<li ng-if="projectDescription.description">
									<h3>
										<small>Tools:</small>
									</h3>
									<p>{{projectDescription.technologies}}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.panel -->
	</div>
</div>