<form class="well">
	<!--<div class="form-group">
		<label>Images</label>
		<input type="file">
	</div>-->
	<div class="form-group">
		<label>Project Name</label>
		<input type="text" class="form-control" ng-model="portfolio.form.projectname">
	</div>
	<div class="form-group">
		<label>Projec URL</label>
		<input type="text" class="form-control" ng-model="portfolio.form.projecturl">
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" rows="3" placeholder="Short business/technical description of the project" ng-model="portfolio.form.description"></textarea>
	</div>
	<div class="form-group">
		<label>Technologies</label>
		<textarea class="form-control" rows="3" placeholder="Describe the basic technologies that you used for the project" ng-model="portfolio.form.technologies"></textarea>
	</div>
	<div class="form-group">
		<label>Tools</label>
		<textarea class="form-control" rows="3" placeholder="Enumerate the tools that you used on the project" ng-model="portfolio.form.tools"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success" ng-click="portfolio.addPortfolio()">Add project</button>
	</div>
</form>