doctype html
html(lang='en', ng-app='baseApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Portfolio base
    link(href='../styles/styles.min.css', rel='stylesheet')
  body
    #page-wrapper
      // Static navbar
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/#/') Portfolio Base
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            if (user)
              ul.nav.navbar-nav
                li
                  a(href='/#/myprojects') My projects
                li
                  a(href='/#/addproject') Add new project
                li
                  // a(href='/#/allusers') All users
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='javascript:void(0);') Welcome, #{user.username}
                li.dropdown
                  a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Settings
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/#/profail') My profile
                    li.divider(role='separator')
                    li
                      a(href='/#/editprofail') Edit profile
                    li
                      a(href='/#/logout') Log out
            if (!user)
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/#/authorization') Login
                
          // /.navbar-collapse
        // /.container
      .container
        div(ng-view='')
       
      // /container
    footer#footer
      .container
        p.text-muted.pull-right
          em betta version
    // bower:js
    script(src='../bower_components/es5-shim/es5-shim.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-animate/angular-animate.js')
    script(src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='../bower_components/angular-cookie/angular-cookie.js')
    script(src='../bower_components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='../bower_components/angular-resource/angular-resource.js')
    script(src='../bower_components/angular-route/angular-route.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='../bower_components/json3/lib/json3.js')
    // endbower
    script(src='baseApp/app.js')
    // injector:js
    script(src='baseApp/modules/add-project-module/add-project-module.js')
    script(src='baseApp/modules/all-users-module/all-users-module.js')
    script(src='baseApp/modules/authorization-module/authorization-module.js')
    script(src='baseApp/modules/edit-profile-module/edit-profile-module.js')
    script(src='baseApp/modules/edit-project-module/edit-project-module.js')
    script(src='baseApp/modules/home-page-module/home-page-module.js')
    script(src='baseApp/modules/logout-module/logout-module.js')
    script(src='baseApp/modules/my-projects-module/my-projects-module.js')
    script(src='baseApp/modules/profile-module/profile-module.js')
    script(src='baseApp/modules/projects-description-module/projects-description-module.js')
    script(src='baseApp/modules/registration-module/registration-module.js')
    script(src='baseApp/common/components/modal-instance-ctrl.js')
    script(src='baseApp/common/directives/file-input-directive.js')
    script(src='baseApp/common/filters/pagination-filter.js')
    script(src='baseApp/common/resources/authorization-factory.js')
    script(src='baseApp/common/resources/projects-factory.js')
    script(src='baseApp/common/resources/registration-factory.js')
    script(src='baseApp/common/resources/users-factory.js')
    script(src='baseApp/common/services/authorization-service.js')
    script(src='baseApp/common/services/cookies-service.js')
    script(src='baseApp/common/services/projects-service.js')
    script(src='baseApp/common/services/registration-service.js')
    script(src='baseApp/common/services/users-service.js')
    // endinjector
    