<div class="table-responsive">
	<p ng-if="userProjects.allProjects.length < 1" class="alert alert-info">Add your first project ! Become a hero !</p>
	<table class="table table-hover" ng-if="userProjects.allProjects.length">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Technologies</th>
				<th>Tools</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in userProjects.allProjects">
				<td>{{project.projectname}}</td>
				<td>{{project.technologies}}</td>
				<td>{{project.tools}}</td>
				<td>
					<!--ng-click="userProjects.deleteProject(project, $index)"-->
					<button type="button" class="btn btn-danger btn-circle" ng-click="userProjects.deleteProject(project, $index)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-warning btn-circle" ng-click="userProjects.editProject(project)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div> 

<script type="text/ng-template" id="confirmationRequest.html">
	<div class="modal-header">
		<h3 class="modal-title">Do not be silly!</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete <b>{{data}}</b>?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>