<div class="table-responsive">
	<p ng-if="userProjects.allProjects.length < 1" class="alert alert-info">Add your first project ! Become a hero !</p>
	<table class="table table-hover" ng-if="userProjects.allProjects.length">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Technologies</th>
				<th>Tools</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in userProjects.allProjects">
				<td>{{project.projectname}}</td>
				<td>{{project.technologies}}</td>
				<td>{{project.tools}}</td>
				<td>
					<button type="button" class="btn btn-danger btn-circle" ng-click="userProjects.deleteProject(project, $index)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-warning btn-circle" ng-click="userProjects.editProject(project)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>