<div class="row">
	<div class="col-md-6">
		<div>
			<form class="well">
				<input type="file" file-input="files" name="avatar" />
				<button ng-click="editPrifile.uploadAvatar()">Upload</button>
				<li ng-repeat="file in files">{{file.name}}</li>
			</form>
		</div>
		<div>
			<img ng-src="{{editPrifile.avatar}}" alt="Avatar">
		</div>
	</div>
	<div class="col-md-6">
		<form class="well">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.firstname">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.lastname">
			</div>
			<div class="form-group">
				<label>Job Title</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.jobtitle">
			</div>
			<div class="form-group">
				<label>Primary Skill</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.primaryskill">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.email">
			</div>
			<div class="form-group">
				<label>Skype</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.skype">
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.phonenumber">
			</div>
			<div class="form-group">
				<label>Country</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.address.country">
			</div>
			<div class="form-group">
				<label>City</label>
				<input type="text" class="form-control" ng-model="editPrifile.form.address.city">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success" ng-click="editPrifile.addToDB()">Update</button>
			</div>
		</form>
	</div>
</div>