<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Edit profile</div>
			<div class="panel-body">
				<div class="col-sm-12 col-md-4 img-width-cst">
					<div>
						<img ng-src="{{editProfile.avatar}}" alt="Avatar">
					</div>
					<div>
						<form class="well">
							<input type="file" file-input="files" name="avatar" />
							<button class="btn btn-success" ng-click="editProfile.uploadAvatar()">Change Avatar</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<form class="well">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" class="form-control" placeholder="Enter First Name" ng-model="editProfile.form.firstname">
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" placeholder="Enter Last Name" ng-model="editProfile.form.lastname">
						</div>
						<div class="form-group">
							<label>Job Title</label>
							<input type="text" class="form-control" placeholder="Enter Job Title" ng-model="editProfile.form.jobtitle">
						</div>
						<div class="form-group">
							<label>Primary Skill</label>
							<input type="text" class="form-control" placeholder="Enter Primary Skill" ng-model="editProfile.form.primaryskill">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" placeholder="Enter Email" ng-model="editProfile.form.email">
						</div>
						<div class="form-group">
							<label>Skype</label>
							<input type="text" class="form-control" placeholder="Enter Skype" ng-model="editProfile.form.skype">
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<input type="text" class="form-control" placeholder="Enter Phone Namber" ng-model="editProfile.form.phonenumber">
						</div>
						<div class="form-group">
							<label>Country</label>
							<input type="text" class="form-control" placeholder="Enter Country" ng-model="editProfile.form.address.country">
						</div>
						<div class="form-group">
							<label>City</label>
							<input type="text" class="form-control" placeholder="Enter City" ng-model="editProfile.form.address.city">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success" ng-click="editProfile.downloadChanges()">Update</button>
							<a href="/#/profail"><button type="button" class="btn btn-danger">Cancel</button></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>